<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>ID #</dt>
      <dd><%= @user.id %></dd>

      <dt>User Name</dt>
      <dd><%= @user.username %></dd>

      <dt>Email Address</dt>
      <dd><%= @user.email %></dd>

      <dt>Account Created At</dt>
      <dd><%= @user.created_at %></dd>

      <dt>Photos</dt>
      <dd>
        <ul class="list-group">
          <% @photos.each do |photo| %>
          <p><%= photo.caption %></p>
          <p><image src=<%= photo.image %> width=100 height="auto"></p>
          <% end %>
        </ul>
      </dd>   


    </dl>

  </div>
</div>
